<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.fundoohr.bridgeit.fundoohr">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="FundooHR"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.fundoohr.bridgeit.fundoohr.view.activity.LoginActivity"
            android:theme="@style/your_own_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.fundoohr.bridgeit.fundoohr.view.activity.DashBoard"
            android:label="@string/title_activity_dash_board"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.fundoohr.bridgeit.fundoohr.view.activity.EngineerCollapse"
            android:theme="@style/AppTheme.NoActionBar" />

        <action android:name="android.intent.action.SEARCH" />

        <activity
            android:name="com.fundoohr.bridgeit.fundoohr.view.activity.AttendanceDetails"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".view.SearchEngineer"></activity>
    </application>

</manifest>